<a class="card" [routerLink]="[index, {week: week}]" routerLinkActive="active">
    <mat-card-header>
        <!-- <mat-card-title>{{ day.date.toDate() | date: 'EEEE' }}</mat-card-title> -->
        <mat-card-title>{{ day.date }}</mat-card-title>
        <div>
            <mat-card-subtitle>{{day.target}}</mat-card-subtitle>
        </div>
      
    </mat-card-header>
    <!-- <mat-card-content>
        <div *ngFor="let exercise of item.exercises; let i = index">
            <h5 style="margin-top: 10px;">{{exercise.name}}</h5>
            <mat-grid-list [cols]="breakpoint" rowHeight="2:1" (window:resize)="onResize($event)">
                <mat-grid-tile>
                    <div style="color: green;">
                        <div>Best</div>
                        <span>60</span>/<span>8</span>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div style="color: red;">
                        <div>Previous:</div>
                        <span>60/</span>/<span>8</span>
                    </div>
                </mat-grid-tile>
            </mat-grid-list>
            <span *ngFor="let set of item.exercises[i].sets">{{set.weight}}</span>
        </div>
    </mat-card-content> -->
</a>