<div class="card-group">
  <div class="card" *ngFor="let item of items">
    <div class="card-body">
      <h5 class="card-title">{{item.day}}</h5>
      <p class="card-text">{{item.muscles}}</p>
    </div>
  </div>
</div>

  <!-- <ul *ngFor="let item of items" class="collection">
    <input type="text" placeholder="Day" [(ngModel)]="item.day" (change)="onChange($event, item)" name="day">
    <input type="text" placeholder="Muscle Group" [(ngModel)]="item.muscles" (change)="onChange($event, item)" name="muscles">
    <button (click)="deleteItem($event, item)" class="btn red">Delete Item</button>
  </ul> -->

<ng-template #noItems>
  <hr>
  <h5>No Items</h5>
</ng-template>