<!-- <app-item-edit></app-item-edit> -->
<div class="card-group">
 <app-item *ngFor="let item of items; let i = index" [item]="item" [index]="i"></app-item>
  <!-- <div *ngFor="let item of items; let i = index">
    <a class="card" [routerLink]="['/items', i]" routerLinkActive="active">
      <div class="card-body">
        <h5 class="card-title">{{item.day}}</h5>
        <p class="card-text">{{item.muscles}}</p>
        <p class="card-text" *ngFor="let exercise of item.exercises">{{exercise.name}}</p>
      </div>
    </a>
  </div> -->

</div>

<ng-template #noItems>
  <hr>
  <h5>No Items</h5>
</ng-template>