<form #myform="ngForm" (ngSubmit)="register(myform)" style="margin-bottom: 80px;">

    <div class="form-group">
        <label for="exampleInputEmail1">Day</label>
        <input type="text" class="form-control" placeholder="Day" name="day" ngModel>
    </div>

    <div class="form-group">
        <label>Muscles</label>
        <input type="text" class="form-control" placeholder="Muscles" name="muscles" ngModel>
    </div>
   

    <div class="row form-group" *ngFor="let thing of things; index as i">
      
        <div class="col-10">
            <input type="text" class="form-control" name="thing{{i}}" placeholder="Thing {{i + 1}}" ngModel> 
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary" (click)="onDeleteThing(i)">Remove</button>
        </div>
    </div>

    <button type="button" class="btn btn-primary" (click)="onAddThing()">Add Exercise</button>
    <hr>
    <button type="submit" class="btn btn-primary">Add Day</button>
  
</form>