.row {
  flex-wrap: wrap;
  .item {
    width: 100%;
    @media only screen and (min-width: 450px) {
      width: 25%;
    }
     @media only screen and (min-width: 1000px) {
      width: 16.66%;
    }
  }
}
mat-form-field {
    width: 100%;
}
.form-container {
  padding: 30px;
  .schedule {
      width: 1005;
  }
}
.form-container > * {
  width: 100%;
}
.text-right {
    text-align: right;
}